.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.bg-light {
  background-color: #fff !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.cust {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .action {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }
}
