<div class="container" style="margin-top: 2%;">
  <div class="cust">
    <h1>PAYMENT DETAILS</h1>
    <div class="action" *ngIf="data">
      <button
        mat-flat-button
        color="warn"
        style="margin-right: 2%;"
        (click)="onDelete()"
      >
        Delete
      </button>
      <button
        mat-flat-button
        color="primary"
        [routerLink]="'/edit/' + data.payment_id"
      >
        Edit
      </button>
    </div>
  </div>

  <div class="row" *ngIf="data" style="margin-top: 2%;">
    <div class="col-md-3 col-sm-12">
      <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
        <h2>Patient</h2>
        <div class="profile-thumb mt-3 mb-4">
          <img
            class="rounded-circle"
            src="https://images.unsplash.com/photo-1531299669378-dd18b44a8dbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt=""
            style="width: 40px; height: 40px;"
          />
        </div>
        <p class="text-3 font-weight-500 mb-2">{{data.cust_name}}</p>
        <p class="text-3 font-weight-500 mb-2">{{data.cust_email}}</p>
        <p class="text-3 font-weight-500 mb-2">{{data.cust_mobile}}</p>
      </div>
      <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
        <h2>Cost</h2>
        <h1 class="text-3 font-weight-500 mb-2">{{data.cost}} LKR</h1>
      </div>
    </div>
    <div class="col-md-9 col-sm-12">
      <div class="bg-light shadow-sm rounded p-4 mb-4">
        <h3 class="text-5 font-weight-400 mb-3">
          Personal Details
          <a
            href="#edit-personal-details"
            data-toggle="modal"
            class="float-right text-1 text-uppercase text-muted btn-link"
            ><i class="fas fa-edit mr-1"></i>Edit</a
          >
        </h3>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
          <p class="col-sm-9">{{data.cust_name}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
            Birthday
          </p>
          <p class="col-sm-9">{{data.cust_dob || '-'}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Address</p>
          <p class="col-sm-9">
            {{data.cust_address || '-'}}
          </p>
        </div>
      </div>

      <div class="bg-light shadow-sm rounded p-4 mb-4">
        <h3 class="text-5 font-weight-400 mb-3">
          Medical Details
        </h3>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Service</p>
          <p class="col-sm-9">{{data.service}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
            Type
          </p>
          <p class="col-sm-9">{{data.type}}</p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
            Doctor Name
          </p>
          <p class="col-sm-9">
            {{data.doct_name}}
          </p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
            Doctor Email
          </p>
          <p class="col-sm-9">
            {{data.doct_email}}
          </p>
        </div>
        <div class="row">
          <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
            Doctor Contact No
          </p>
          <p class="col-sm-9">
            {{data.doct_mobile}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
