<mat-toolbar
  color="primary"
  style="box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.75);"
>
  <span>MediCare</span>
  <button mat-button routerLink="/">Payment List</button>
  <button mat-button routerLink="/new">Add Payment</button>
</mat-toolbar>
