<div class="no-data" *ngIf="!isLoadingResults && data.length == 0">
  <ng-container>
    <div style="line-height: 1;">Create the first Payment :)</div>
    <button (click)="addPayment()" class="btn btn-md" title="add new">
      Create New Payment
    </button>
  </ng-container>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="example-table-container">
    <table
      mat-table
      [dataSource]="data"
      class="example-table"
      matSortDirection="asc"
    >
      <!-- Number Column -->
      <ng-container matColumnDef="payment_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let row">{{row.payment_id}}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="cust_name">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let row">{{row.cust_name}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="cust_mobile">
        <th mat-header-cell *matHeaderCellDef>Customer Mobile</th>
        <td mat-cell *matCellDef="let row">{{row.cust_mobile}}</td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="doct_name">
        <th mat-header-cell *matHeaderCellDef>Doctor Name</th>
        <td mat-cell *matCellDef="let row">{{row.doct_name}}</td>
      </ng-container>

      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef>Service</th>
        <td mat-cell *matCellDef="let row">{{row.service}}</td>
      </ng-container>

      <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef>Cost</th>
        <td mat-cell *matCellDef="let row">{{row.cost}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
        [routerLink]="'/show/'+row.payment_id"
      ></tr>
    </table>
  </div>
  <mat-paginator
    #paginator
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 30, 50]"
    [showFirstLastButtons]="true"
    [length]="total"
    [pageIndex]="currentPage"
    (page)="getPayments()"
  >
  </mat-paginator>
</div>
