<div class="container">
  <h2>Edit Payment</h2>
  <form
    [formGroup]="formGroup"
    class="form"
    *ngIf="data && customers && customers.length > 0 && doctors && doctors.length > 0"
  >
    <mat-form-field appearance="fill">
      <mat-label>Service</mat-label>
      <mat-select formControlName="service">
        <mat-option *ngFor="let sr of service" [value]="sr">{{sr}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let sr of type" [value]="sr">{{sr}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Doctor</mat-label>
      <mat-select formControlName="dct_id">
        <mat-option *ngFor="let dc of doctors" [value]="dc.id"
          >{{dc.email}}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Customer</mat-label>
      <mat-select formControlName="cust_id">
        <mat-option *ngFor="let cu of customers" [value]="cu.id"
          >{{cu.email}}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cost</mat-label>
      <input matInput formControlName="cost" />
      <mat-icon matSuffix>attach_money</mat-icon>
      <mat-hint>Price in lkr</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Discount</mat-label>
      <input matInput formControlName="discount" />
      <mat-hint>Discount in percentage</mat-hint>
    </mat-form-field>
  </form>
</div>

<mat-toolbar
  color="primary"
  style="box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.75);"
  class="btns"
>
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-raised-button type="button" (click)="onSubmit()">Update</button>
</mat-toolbar>
