.form {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 3%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
