.no-data {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  &::after {
    content: '';
    background: url('../../../assets/img/no-pay.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 70%;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  div {
    color: #162e51;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5%;
  }
  button {
    background-color: #162e51;
    color: #fff;
  }
}
