::placeholder {
  color: rgb(128, 128, 128);
  font-weight: bold;
}
.login-main {
  background-color: #ffffff !important;
  width: 100vw;
  height: 100vh;
}
.row {
  position: relative;
}
.login-cont {
  height: 100vh;
  display: table;
  align-items: center;
}
.login-view {
  // padding-top: 200px;
  // margin: auto !important;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  padding-left: 10px;
  // display: table-cell;
  vertical-align: middle;
  //margin-left: 30px;
  // margin-right: auto;
  margin-top: auto;
  max-width: 496px;
  vertical-align: middle;
  // margin-left: 100px;
}
.logo {
  //   width: 50px;
  //   height: 50px;
  color: #673ab7;
  img {
    width: 100%;
    height: auto;
  }
}
.right-side-image {
  height: 100vh;
}

.login-text {
  font-family: Lato, sans-serif;

  font-size: 78px;

  font-weight: 900;

  font-stretch: normal;

  font-style: normal;

  line-height: 1.03;

  letter-spacing: normal;

  text-align: left;

  color: #673ab7;
  margin-bottom: 30px;
}
.input-box {
  height: 15vh;
  padding: 5%;
  width: 27.5vw;
  border: solid 1px #f0f0f0;

  .label-icon {
    width: 10%;
  }
  .text-input {
    padding-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      padding: 0;
      color: #222222;
      font-weight: bold;
      width: 100%;
    }
    p {
      margin: 0;
      font-family: Lato, sans-serif;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: 0.51px;
      text-align: left;
      color: #222222;
    }
  }
}
.login-inputs {
  border: none;
  -webkit-appearance: none;
  font-size: 14px;
  color: #c3c3c3;
  background: none;
  width: 90%;
  margin: 0;
  transition: 0.3s;
  box-shadow: inset 0 0 0 none;
}

// .remember-me-gorup input {
//   background-color: #252a43;
// }

// .remember-me-gorup label {
//   font-family: 'Open Sans', sans-serif;
//   font-size: 17px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   letter-spacing: 0.51px;
//   text-align: left;
//   color: #ffffff;
// }
.siginup-account {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.51px;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  color: rgba(255, 255, 255, 0.37);
}

.siginup-account a {
  margin-left: 8px;
  color: #35d9a5;
  text-decoration: underline;
}
.siginup-account p {
  color: #8f8c8c;
}

.login-button {
  border-radius: 3px;
  border: none;
  background-color: #c9b0f8;
  color: #673ab7;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  padding: 5px 20px 5px 20px;
}
.login-button:hover {
  background-color: #673ab7;
  color: #ffffff;
}
.remember-me {
  display: none;
}
.remember-me-text {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: 0.51px;
  text-align: left;
  color: #c3c3c3;
}

// .remember-me + label {
//   background: url('../../../assets/icons/select.svg') no-repeat;
//   height: 29.3px;
//   width: 29.3px;
//   display: inline-block;
//   padding: 0 0 0 0px;
// }

// .remember-me:checked + label {
//   background: url('../../../assets/icons/no-select.svg') no-repeat;
//   height: 29.3px;
//   width: 29.3px;
//   display: inline-block;
//   padding: 0 0 0 0px;
// }
.main-cover {
  overflow: hidden;
  height: 100vh;
  padding-left: 0;
  .main-img {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .login-view {
    padding-left: 8px;
    margin-top: 30px;
    padding-right: 8px;
    width: 100%;
    margin-bottom: 25px;
  }
  .input-box {
    width: 100%;
  }
  .siginup-account {
    justify-content: left;
  }
  .main-cover {
    display: none;
  }
}
