<div *ngIf="appContextService.LastPrograssbarValue" class="backdrop">
  <!-- <mat-spinner></mat-spinner> -->
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <!-- <div class="backdrop"></div> -->
</div>

<app-header></app-header>

<div>
  <router-outlet></router-outlet>
</div>
