.progress-loader {
  color: #3f51b5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 4px;
  // padding: 8px;
  // border-radius: 20px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  z-index: 9999;
  opacity: 0.5;
  transition: all 0.3s;
}

.mat-progress-spinner circle,
.mat-spinner circle,
.mat-progress-spinner circle,
.mat-spinner circle .mat-progress-spinner circle,
.mat-spinner circle {
  color: #3f51b5 !important;
  stroke: #3f51b5 !important;
}
