<div class="inner">
  <div class="top">
    This process cannot undo. Are you sure you want to continue ?
    <!-- <mat-slide-toggle>Slide me!</mat-slide-toggle> -->
  </div>
  <div class="bottom">
    <button
      mat-stroked-button
      color="accent"
      (click)="onNo()"
      style="margin-right: 1%;"
    >
      Cancel
    </button>
    <button mat-stroked-button color="primary" (click)="onYes()">
      Continue
    </button>
  </div>
</div>
