/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.snackbar-red {
  //color: red !important;
  color: white;
  background-color: #f44336;
  button {
    color: white;
  }
}
.snackbar-green {
  //color: red !important;
  color: white;
  background-color: #4caf50;
  button {
    color: white;
  }
}
